.poke-tag {
    border-radius: 25px;
}
.ant-modal-content {
    border-radius: 25px;
    border: 5px solid black;
    // background: url('https://www.pngfind.com/pngs/m/665-6656089_pokemon-card-border-238572-picture-frame-hd-png.png');
}