
.poke-card {
    width: 240px;
    margin: auto;
    border-radius: 25px;
    // background: transparent;
    background-color:rgba(0, 0, 0, 0.1);
    .ant-card-body {
        background: white;
        border-radius: 25px;
    }
}