.poke-header {
    padding-top: 25px;
    height: 240px;
    width: 70%;
    margin: auto;
    background: transparent;

    .poke-banner {
        border-radius: 25px;
    }
}
.poke-content {
    padding: 10px 0;
    width: 70%;
    margin: 15px auto;
    border-radius: 25px;
    background: url(https://onokaoblog.files.wordpress.com/2014/08/wood-background-tumblrviewing-gallery-for-white-background-tumblr-freegeneraldirectories-rq5tsuik.png);
}
.poke-footer {
    background: transparent;

    .poke-footer-img {
        border-radius: 25px;
        height: 100px
    }
}